.homepage{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.homepage__header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 30px;
}

.homepage__header a{
    text-decoration: none;
    color:rgba(0,0,0,0.87);
    margin-right:20px;
    font-size: 15px;
    font-family: arial,sans-serif;

}

.homepage__header a:hover{
    text-decoration: underline;
}

.homepage__right{
    display:flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}

.homepage__right > .MuiSvgIcon-root {
    margin-right: 20px;
}

.homepage__body{
    display: flex;
    flex: 1;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 10%;
}

.homepage__body > img {
    object-fit: contain;
    height: 100px;
}